<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application 
        android:allowBackup="true" 
        android:icon="@drawable/jarvis"
        android:roundIcon="@drawable/jarvis"
        android:label="JARVIS V4" 
        android:theme="@android:style/Theme.NoTitleBar">
        <service
            android:name=".JarvisService" 
             android:enabled="true" 
             android:exported="false" 
             android:foregroundServiceType="microphone|datasync" />
        <activity 
            android:name=".MainActivity" 
            android:exported="true" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
